.chat-view {
    text-align: center;
    font-size: 1em;
}
.chat-view .chat-title {
    padding-top: 1em;
    margin: 0;
    text-align: center;
    font-size: 4em;
}
.chat-view .chat-messages {
    text-align: left;
    padding: .5em;
}

.chat-view .chat-messages .chat-user {
    text-align: left;
    font-size: 2em;
}
.chat-view .chat-messages .chat-message {
    text-align: left;
    font-size: 2em;
}